$white: #fff;
$lightgrey:rgba(0, 0, 0, 0.2);
$lightblue: #16b5dd;
$deep-blue: #1e244e;
$dark-blue: #0c1137;
$darker-blue: #040317;
$blueish: #242a56;
$blueish-purple: #5356ad;
$lightgreen: #2ecc71;
$blue-low-opacity: rgba(5, 4, 22, 0.31);
$error-background: rgba(255, 0, 0, 0.11);
$error: #ff3331;
$blockblue: #1f2550;