
.profile-modal-header{
  color:white;
  & h3{
    width:100%;
  }
}
.profile-modal-content{
  background-color: $darker-blue;
  width:400px;
  height:600px;
  border-radius: 15px;
}

.profile-modal-body{
  & h3{
    margin-left: 33%;
  }
  & input{
    border: none;

  }
}

.profile-pic-settings{
  width: 140px;
  height: 140px;
  border-radius:50%;
}
.profile-pic-div{
  margin-left: 33%;
}

.edit-profile-inputs{

  background-color: $deep-blue;
  width:90%;
  height:65%;
  margin:auto;
  border-radius: 15px;
  padding-top: 30px;
  & input{
    border: 2px $lightblue solid;
    border-radius: 20px;
    width:85%;
    padding: 5px 10px;
    font-size: 22px;
    margin-left: 25px;
    transition: 0.3s;
    margin-bottom: 20px;
  }
  & p{
    color:white;
    margin: 0px;
    padding: 0px;
    margin-left: 25px;
    font-size: 18px;
  }
}

.input-file-button{
  position: absolute;
  cursor: pointer;
  width:200px;
  height:40px;
  background-color: $darker-blue;
  border: 2px solid $lightblue;
  border-radius: 15px;
  color:white;
  left:90px;
  top:120px;
  &:hover{
    color:$white;
  }
}
.edit-profile-header{
  position: relative;
  margin-bottom: 30px;
}
.save-form{
  margin-top:25px;
  cursor: pointer;
  text-align: center;
  margin-left: 110px;
  width: 100px;
  color: $white;
  background-color: transparent;
  opacity: 1;
  border: 2px solid $lightgreen;
  border-radius: 25px;
  transition: 0.3s;
  font-size: 22px;
  @include transition(all 0.5s);
  &:hover{
    background: $lightgreen;
  }
}
