.stats-left-container{
  width:55vw;
  height:70vh;
  background-color: $deep-blue;
  margin-left:54px;
  margin-right:54px;
  border-radius: 24px;
}
.dataTables_wrapper{
  width:40vw;
  margin-left:auto;
  margin-right:auto;
  font-size: 20px;
}
.pagination{
  margin-top:25px;
  margin-left: -75px;
}
.dataTables_info{
  display: none;
}
.paginate-button{
  background-color: $darker-blue !important;
  color:$lightblue !important;
}
input[type="search"]{
  margin-left: -75px;
  width:150px;
}
.stats-title{
  color:white;
  font-size: 34px;
  text-align: center;
  margin-bottom: 0px;
  padding-top:15px;
}

.stats-right-container{
  width:20vw;
  height:37vh;
  background-color: $deep-blue;
  border-radius: 24px;

}