<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}4TheCubers{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% for message in app.flashes('success') %}
    <div style="text-align:center; font-size: 20px; width:800px; position: absolute; border-radius: 24px; top:80px; z-index: 2;left: 0;right: 0; margin-left: auto; margin-right: auto;" class="flash-message friend-added-successfully">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="friend-deleted-successfully">
        {{ message }}
    </div>
{% endfor %}
{% block body %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <script>

    </script>

{% endblock %}
</body>
</html>
